# Git и CI
.git
.github

# Локальные бинарники
/bin
/build
*.exe
*.out

# Тесты и профили
*.test
*.prof

# Секреты и переменные окружения
.env
*.pem
*.key

# Временные файлы редакторов
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Логи и временные папки
*.log
tmp/
temp/